* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "PT Serif", serif;
  background-color: white;
  background-size: 10px;
  font-family: "Pacifico", cursive;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./img/istockphoto-1072250644-170667a.jpg");
  background-size: 20px;
  position: fixed;
  z-index: 100;
  box-shadow: 3px 4px 20px black;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 0 10px;
  animation: turn-360 3s infinite linear;
}

.navbar-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 100px;
}

a {
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 0 24px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 5px;
}

a:hover {
  background-color: white;
  color: rgb(199, 62, 62);
  font-weight: bold;
}

.about-me-navbar {
  background-color: white;
  color: rgb(199, 62, 62);
  font-weight: bold;
  cursor: default;
}

span {
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: auto 0;
  color: white;
  font-size: 16px;
  padding: 0 24px;
  cursor: pointer;
  border-radius: 20px;
}

span:hover {
  background-color: white;
  color: rgb(199, 62, 62);
  font-weight: bold;
}

.about {
  width: 100%;
  height: 100%;
  background-image: url("./img/istockphoto-1072250644-170667a.jpg");
  background-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: calc(100vw - 20%);
  height: calc(100vh - 20%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

img {
  border-radius: 40px;
  margin-right: 40px;
}

.text {
  text-align: left;
  width: 50%;
  color: rgb(199, 62, 62);
}

h1,
h4,
p {
  margin-bottom: 2px;
}

h4 {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 20px;
}

.footer {
  height: auto;
  background-color: white;
  padding: 10px;
}

.container {
  width: 54%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
}

h2 {
  text-align: center;
  background-color: white;
  width: 54%;
  margin: 0 auto;
  color: rgb(199, 62, 62);
}

.footer p {
  color: rgb(199, 62, 62);
  font-size: 16px;
}

.footer i {
  margin: 0 5px;
  font-size: 24px;
  color: rgb(199, 62, 62);
}

.facebook-contact,
.email-contact,
.instagram-contact,
.telephone-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-facebook,
.info-instagram,
.info-email,
.info-number {
  margin: 0 5px;
}
